.eventsy-events {
    background-color: #540D6E;
    height: 320px;
}

.events-date {
    font-size: 22px;
    font-family: GillSans;
    font-weight: bold;
    background-color: #EE4367;
    color: white;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 10px;
    padding-top: 12px;
    margin-right: 19px;
}

.button {
    width: 121.62px;
    height: 40.04px;
    background-color: #EE4367;
    margin: 0 auto;
    margin-top: 25px;
}

.gallery-charcuterie {
    background-image: url("../images/1_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 187px;
    width: 489px;
    margin-left: 160px;
}
  
.gallery-concert {
    background-image: url("../images/2_2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 187px;
    width: 187px;
    margin-left: 20px;
}
  
.gallery-lecture-hall {
    background-image: url("../images/3_3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 187px;
    width: 265px;
    margin-left: 20px;
}
  
.gallery-restaurant {
    background-image: url("../images/4_4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 306px;
    width: 603px;
    margin-left: 160px;
    margin-top: 20px;
}
  
.gallery-toronto {
    background-image: url("../images/5_5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 306px;
    width: 355px;
    margin-left: 20px;
    margin-top: 20px;
}

.contact-button {
    background-color: #EE4367;
    color: white;
    font-family: GillSans;
    padding-top: 22px;
    width: 167px;
    height: 60px;
    margin-top: 35px;
    font-size: 10px;
    margin-left: 160px;
    text-align: center;
}

.white-text {
    color: white;
}
  
.black-text {
    color: black;
}